body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color:#F5F2EB;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.tile-image {
  height: 200px;
  float: left;
  margin: 50px;

}

.card {
  width: 45%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.creative {
  color: #50C878;
}

@media (max-width:680px)  {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    width: 100%;
    display: inline;
    object-fit: cover;
    margin-bottom: 10px;
  }
}